%form-base {
  @include text-style(16, $primary);
  display: block;
  width: 100%;
  height: 44px;
  padding: 0 12px;
  border-radius: 6px;
  border: 1px soild $border;
  transition: background-color 200ms ease-in-out;
  appearance: none;

  &::placeholder {
    color: $tertiary;
  }

  &:not(:disabled):hover {
    background-color: $background;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}


.form-input {
  @extend %form-base;
}

.input-group {
  position: relative;

  .bx-search {
    @include pos-center-y();
    position: absolute;
    left: 8px;
    font-size: 20px;
    color: $secondary;
    pointer-events: none;
  }

  .form-input {
    padding-left: 40px;
  }
}
